<div class="footer_inner">
  <p>
    <span>Ø {{ now.Year }} <a href="https://creativecommons.org/publicdomain/zero/1.0/">No Rights Reserved</a></span>
    <span> | </span>
    <span>Source code hosted on <a href="https://gitlab.com/zyradyl-moe/blog">GitLab</a></span>
  </p>
</div>
