<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/icons/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/icons/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/icons/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "images/icons/site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "images/icons/safari-pinned-tab.svg" | absURL }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "images/icons/favicon.ico" | absURL }}">
